*.txt
*.json
ABCPastQuestions/*/A/*
ABCPastQuestions/*/B/*
ABCPastQuestions/*/C/*
ABCPastQuestions/*/D/*
ABCPastQuestions/*/E/*
ABCPastQuestions/*/F/*
ABCPastQuestions/*/G/*
ABCPastQuestions/*/H/*
ABCPastQuestions/*/Ex/*
ABCPastQuestions/AHC/*